<h2 class="content-block">Profile</h2>


<div class="content-block dx-card responsive-paddings">
  <form [formGroup]="formGroup" class="form-group">
    <label for="FirstName">First Name</label>
    <dx-text-box
      id="FirstName"
      formControlName="FirstName"
      [isValid]="formGroup.controls['FirstName'].valid"
      [validationError]="formGroup.controls['FirstName'].errors"
    ></dx-text-box>

    <label for="Rating">Rating</label>
    <dx-number-box
      id="Rating"
      formControlName="Rating"
      [isValid]="formGroup.controls['Rating'].valid"
      [validationError]="formGroup.controls['Rating'].errors"
    ></dx-number-box>

    <label for="Debug">IsValid:</label>
    <p id="Debug">{{ formGroup.controls['Rating'].valid }} {{ formGroup.controls['Rating'].errors | json }}</p>
  </form>
</div>
